.container{
    background-color: blueviolet;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    /*justify-content: end;*/
    height: 500px;
    grid-template-rows: 100px 100px;
    align-content: end;
}
.box{
    background-color: cornflowerblue;
    text-align: center;
    border: 1px solid aliceblue;
    padding: 10px;
}